{% extends 'base.html' %} 

{% block body %} 
    <h3>Profile</h3>

    {% if message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" id="close"></button>  
        </div>  
    {% endif %}
    
{% endblock %} 