{% extends "base.html" %}

{% block body %}
<form action="/" method="POST" id="post-form" style="display:none;">
    <input name="token" id="token" >
    <input type="submit" id="enter" onClick="submit">
</form>

{% if message %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" id="close"></button>  
    </div>  
{% endif %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        
        let token = localStorage.getItem('token');
        document.getElementById("token").value = token;
        document.getElementById("post-form").submit();
    })
</script>
{% endblock %}