{% extends "base.html" %}

{% block body %}
<h3>Login</h3>

{% include "message.html" %}

<form action="/login" method="POST">
    <input name="text" autofocus autocomplete="off">
    <input type="submit" class="btn btn-success invisible">
</form>


<div class="label">login to ElabJournal</div>
<div class="alert alert-success" role="alert">
    <ul>
        <li>Please login to eLabJournal. Click on your name and choose for <b>Apps and Connections</b></li>
        <li>Choose for for <b>Manage Authentication</b> under the section eLab Mobile App</li>
        <li>Fill in a title for examples "Unlock App" in the textbox and choose for generate.</li>
        <li>Scan the QRcode with the scanner that's connected to your phone.</li>
    </ul>
</div>

{% endblock %}