{% extends 'base.html' %}

{% block body %}
{% include "message.html" %}
<h3>Welcome</h3>
<div class="row">
    <div class="col-12">        
        <div class="alert alert-success" role="alert">
            You are logged in with the username: <b>{{userinfo.user.username}}</b>.
        </div>
    </div>
</div>

<div class="row">
    <div class="col-3 d-flex">
        <a href="#" name="btnLogout" onClick="logout();" class="btn btn-danger">Logout</a>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        localStorage.setItem("token", "{{token}}");
    })
</script>

{% endblock %}