/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    margin-bottom: 40px; /* Margin bottom by footer height */
  }
  .footer {
    position: fixed;    
    bottom: 0;
    width: 100%;
    height: 40px; /* Set the fixed height of the footer here */
    background-color: #f5f5f5;
  }
  
  
  /* Custom page CSS
   * Not required for template or sticky footer method.
   * -------------------------------------------------- */
  
  body > .container {
    padding: 60px 15px 0;
  }
  .container .text-muted {
    margin: 7px 0;
  }
  
  .footer > .container {    
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }

  .footer-logo {
    float:right;
    margin-right:0px;
  }

  /* Site specific   */  
  .equipment {
    border-radius: 5px;
    background-color: #D9E5EA;
    color: black;
    margin-top: 2px !important;
    border: 2px solid #452056;
    padding: 5px;
    width: 100%;
  }

  .samples {
    border-radius: 5px;
    background-color: #FFEBD9;
    color: black;
    margin-top: 2px !important;
    border: 2px solid #452056;
    padding: 5px;
    width: 100%;
  }
  .samples.row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 2px;
  }
  
  .label {
    border-radius: 5px;
    color: white;
    padding: 5px;
    background-color: #452056	
  }

  .label_1 {
    border-radius: 5px;
    color: white;
    padding: 5px;
    background-color: blue	
  }

  .label_2 {
    border-radius: 5px;
    color: white;
    padding: 5px;
    background-color: blueviolet	
  }

  .row {
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .clear-left{
    margin-left: -10px !important;
  }
  .clear-right{
    margin-right: -10px !important;
  }
  
  .margin-top {
    margin-top: 10px;
  }

  .scroll-full {
    height: 78vh; 
    overflow-y: auto; 
    padding: 5px;
  }

  .scroll-partial {
    height: 61vh; 
    overflow-y: auto; 
    padding: 5px;
  }

  .occupied_container {
    text-align: center;
    color: red;
  }
  
  .available_container {
    text-align: center;
  }

  .reserved_container {
    text-align: center;
    color: orange;
    border-color: blue;
  }

  .sample_place {
    background-color: lightgreen;
    text-align: center;
  }

  .center-alignment {
    text-align: center;
  }