{% extends 'base.html' %}

{% block body %}
<h3>Sample history</h3>
{% include "message.html" %}
<form method="POST" id="post-form" autocomplete="off">
    <input name="code" id="code" autofocus autocomplete="off">
    <input name="token" id="token" type="hidden">
    <input type="submit" id="enter" onClick="submit" class="btn btn-success invisible">
</form>

{% if sample_info %}    
    <div class="row">
        <div class="col-12 d-flex label">History: {{sample_info.data[0].sampleName}}</div>
    </div>
    <div class="scroll-full">
    {% for item in sample_info.data %}
        {% if item.action == 'UPDATE' %}
        <div class="row">
            <div class="container samples">
                <div class="row">
                    <div class="col-12 d-flex">
                        <strong>{{item.changed.replace("T", " - ").replace("Z", "")}}</strong>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 d-flex">
                        By: {{item.changedBy}}
                    </div>
                </div>
                <div class="row" style="margin-top: 5px;">
                    <div class="col-6 d-flex">
                        Old: <br/> {{item.oldValue.split("(")[0]}}
                    </div>                
                    <div class="col-6 d-flex">
                        New: <br/> {{item.newValue.split("(")[0]}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% else %}    
    <div class="alert alert-success" role="alert">
        Scan a sample to see the history
    </div>
{% endif %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let token = localStorage.getItem('token');
        document.getElementById("token").value = token;
    })       
</script>

{% endblock %}