{% extends 'base.html' %} 

{% block body %} 
    <h3>Sample</h3>
    {% include "message.html" %}
    {% if message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">{{message}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" id="close"></button>  
        </div>          
    {% endif %}   
    
{% endblock %} 