{% extends 'base.html' %} 
{% block body %} 
{% from "macros.html" import storage_layer_label with context %} 
{% from "macros.html" import sample_move_label with context %} 
{% from "macros.html" import select_storage with context %}

<h3>Move samples</h3>
{% include "message.html" %}
<form method="POST" id="post-form" autocomplete="off">
  <input name="code"id="code" autofocus autocomplete="off"/>
  <input name="token" id="token" type="hidden" autocomplete="off" />
  <input name="items" id="items" value="{{ unlock_object }}" type="hidden" />
  <input name="action" id="action" value="barcode" type="hidden" />
  <input name="sample_id" id="sample_id" type="hidden" />
  <input name="start_sequence" id="start_sequence" type="hidden">
  <input type="submit" id="enter" onClick="submit" class="btn btn-success invisible"
  />
</form>

{% if not unlock_items or unlock_items['storagelayer'] == None  %}
  <div class="alert alert-success" role="alert">
    Please scan the equipment or container first. After a succesful
    scan you can add samples to this equipment of container.
  </div>
{% else %} 
  {{ storage_layer_label(equipment=unlock_items['storagelayer']) }} 
  {% for sample in unlock_items['samples'] %} 
    {{ sample_move_label(sample=sample) }}
  {% endfor %} 
{% endif %} 

{% if unlock_items %}
  <div class="row margin-top" style="margin-top: 10px">
    <div class="col-3 d-flex">
      <button type="button" class="btn btn-danger" onclick="clearMove()">Cancel</button>
    </div>
    {# The modal for selection position is only visible if there for containers and if there are one or more samples in the collection #}
    {% if unlock_items['samples']|length > 0 and ( unlock_items['columns'] > 1  or unlock_items['rows']  > 1) %}
    <div class="col-3 d-flex">
      <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal">Move to container</button>
    </div>
    {% endif %}
    {#
        This button is used for samples that are moved to a storage.  
    #}
    {% if unlock_items['samples']|length > 0 and ( unlock_items['columns'] == 1  and unlock_items['rows']  == 1) %}
    <div id="moveButton" class="col-3 d-flex">
      <button type="button" class="btn btn-success" onclick="moveSamplesToStorage()">Move Samples</button>
    </div>
    {% endif %}
  </div>

{% endif %}

<!-- Modal -->
{% if unlock_items %} 
  {{select_storage(unlock_items)}} 
{% endif %}

<script type="text/javascript">

  var currentStartSequence = null;
  var totalSamples = null;

  function setSequence(sequenceNumber)
  {
    if (document.getElementById("container_"+sequenceNumber).checked) {
      if (currentStartSequence != null) {
        id ="container_" + currentStartSequence.toString(); 
        document.getElementById(id).checked = false;                       //Reset the checkbox.
        //Reset all the boxex that are set
        for (var ii=currentStartSequence; ii < currentStartSequence+totalSamples; ii++) {
          //Make change the style of the boxes so the user can see where the samples are placed.
            document.getElementById("box_"+ii).classList.remove('sample_place')
        }
      };
      //Make the postions visible 
      for (var ii=sequenceNumber; ii < sequenceNumber+totalSamples; ii++)
      {
        //Make change the style of the boxes so the user can see where the samples are placed.
        document.getElementById("box_"+ii).classList.add('sample_place')
      }
      document.getElementById("saveSequenceButton").disabled = false;
  } else {
    for (var ii=sequenceNumber; ii < sequenceNumber+totalSamples; ii++) {
          //Make change the style of the boxes so the user can see where the samples are placed.
            document.getElementById("box_"+ii).classList.remove('sample_place')
        }
        document.getElementById("saveSequenceButton").disabled = true;

    }
    currentStartSequence = sequenceNumber;
  };

  function removeSample(sampleId) {
      document.getElementById("action").value = "deleteSample"; 
      document.getElementById("sample_id").value = sampleId;
      document.getElementById("post-form").submit();                         
  };

  function moveSamplesToStorage() {
    if (currentStartSequence != null) {
      document.getElementById("start_sequence").value = parseInt(currentStartSequence);
    }
    document.getElementById("action").value = "moveSamples";
    document.getElementById("post-form").submit();
};

  function clearMove() {
    // clear data and reload
    window.location.pathname = "/sample/move";
  }

  document.addEventListener("DOMContentLoaded", function () {
    let token = localStorage.getItem("token");
    {% if unlock_items %}
      let rows = {{unlock_items['rows']}}
      let columns = {{unlock_items['columns']}}
      totalSamples = {{unlock_items['samples']|length}}
    {% endif %}
    document.getElementById("token").value = token;
  });
</script>
{% endblock %}
