{% extends 'base.html' %}
{% block body %}

{% from "macros.html" import sample_label with context %}

<h3>Inspect ELabJournal</h3>
{% include "message.html" %}
<form method="POST" id="post-form" autocomplete="off">
    <input name="code" id="code" autofocus autocomplete="off">
    <input name="token" id="token" type="hidden">
    <input type="submit" id="enter" onClick="submit" class="btn btn-success invisible">
</form>

{% if not sample_info and not storage_info %}
<div class="alert alert-success" role="alert">
    Scan a barcode to see the history
</div>
{% endif %}

{% if sample_info %}    
    <div class="row">
        <div class="col-12 d-flex label">History: {{sample_info.data[0].sampleName}}</div>
    </div>
    <div class="scroll-full">
    {% for item in sample_info.data %}
        {% if item.action == 'UPDATE' %}
        <div class="row">
            <div class="container samples">
                <div class="row">
                    <div class="col-6 d-flex">
                        {{item.modified_date.strftime('%d-%b-%Y %H:%m')}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 d-flex">
                        {{item.newStorage}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
    {% endfor %}
    </div>
{% endif %}

{% if storage_info %}
    <div class="col-12 d-flex label">Samples storage: {{storage_info.name}}</div>
{% endif %}

<div class="scroll-full">
{% if storage_info %}

    {% for storage_layer_sample in storage_info['samples']['data'] %}
        {{ sample_label(sample=storage_layer_sample) }}
    {% endfor %}

    {% for storage_layer in storage_info['sublayers'] %}
        <div class="row">
        <div class="col-12 d-flex label_1">{{ storage_layer['name'] }}</div>
        {% for storage_layer_sample in storage_layer['samples']['data']  %}
            {{ sample_label(sample=storage_layer_sample) }}
        <!--
            <div class="col-12 d-flex samples">{{ storage_layer_sample['name'] }} </div>
        -->
        {% endfor %}
        {% for storage_layer_1 in storage_layer['sublayers'] %}
            <div class="col-12 d-flex label_2">{{ storage_layer_1['name'] }}</div>
            {% for storage_layer_sample_1 in storage_layer_1['samples']['data']  %}
                <div class="col-12 d-flex samples">{{ storage_layer_sample_1['name'] }} </div>
            {% endfor %}    
        {% endfor %}
    </div>
    {% endfor %}
{% endif %}
</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let token = localStorage.getItem('token');
        document.getElementById("token").value = token;
    })       
</script>

{% endblock %}