{% extends 'base.html' %}
{% block body %}
<h3>Samples in storage </h3>
{% include "message.html" %}
<form method="POST" id="post-form" autocomplete="off">
    <input name="code" id="code" autofocus autocomplete="off">
    <input name="token" id="token" type="hidden">
    <input type="submit" id="enter" onClick="submit" class="btn btn-success invisible">
</form>


{% if storage_info %}    
    <div class="row">
        <div class="col-12 d-flex label">Samples storage: {{storage_name}}</div>
    </div>    
    
    {% if storage_info.data|length > 0 %}
        <div class="scroll-full">
        {% for item in storage_info.data %}
            <div class="row">
                <div class="col-12 d-flex samples">
                    {{ item.name }}
                </div>
            </div>
        {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-info" role="alert">No samples found in this storage</div>        
    {% endif %}    
{% else %}    
    <div class="alert alert-success" role="alert">
        Scan a storagelayer to see the samples
    </div>
{% endif %}

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        let token = localStorage.getItem('token');
        document.getElementById("token").value = token;
    })
</script>

{% endblock %}