<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}"
    />

    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />

    <!-- CSS only
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">	
	-->
    <link rel="stylesheet" href="/static/css/site.css" />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    />

    <script src="/static/javascript/unlock.js"></script>

    <title>UNLOCK Track & Trace</title>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-light bg-light fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">UNLOCK</a>
              <a class="btn btn-light clear-left" role="button" aria-pressed="true" href="/sample/move">Move</a>
              <a class="btn btn-light clear-left" role="button" aria-pressed="true" href="/sample/overview">Overview</a>
      </div>
    </nav>

    class="btn btn-danger clear-left"
    role="button"
    aria-pressed="true"


    <div class="container">{% block body %} {% endblock %}</div>

    <footer class="footer">
      <div class="container">
        <p class="text-muted">
          UNLOCK Track & Trace -
          <script>
            document.write(new Date().getUTCFullYear());
          </script>
          <img
            src="/static/img/unlock-logo.png"
            width="100px"
            class="footer-logo"
          />
        </p>
      </div>
    </footer>
  </body>
  <script type="text/javascript">
    function logout() {
      localStorage.clear("token");
      window.location.href = "/";
    }

    /*
	function moveSamples() {
		document.getElementById("action").value = "moveSamples";
		document.getElementById("post-form").submit();
	}

	
	function clearScans() {
		window.location.pathname = "/track";
	}

	function logout() {
		//    localStorage.clear("token");
		window.location.pathname = "/";
	}

	function track() {
		window.location.pathname = "/track";
	}
	*/
  </script>
</html>
