{% macro sample_label(sample) %}

<div class="row samples">
  {% if sample['position'] == 0 %}
    <div class="col-8 d-flex">{{ sample['name']}}</div>
  {% else %}
    <div class="col-8 d-flex">{{ sample['name']}} - {{ sample['position']}}</div>
  {% endif %}
  <div class="col-2 d-flex justify-content-end">
    <a
      href="#"
      class="btn btn-dark btn-sm"
      onclick="sampleHistory( {{sample['sampleID']}} )"
    >
      <i class="fa-solid fa-history"></i>
    </a>
  </div>
</div>

{% endmacro %} 
{% macro sample_move_label(sample) %}

{%  set columns = sample['sampleID'] %}
  <div class="row samples">
    <div class="col-10 d-flex">
      {{ sample['name']}}
    </div>
    <div class="col-2 d-flex justify-content-end" >
      <a href="#" class="btn btn-danger btn-sm" onclick="removeSample( {{ sample['sampleID'] }} )">
          <i class="fa-solid fa-trash-can"></i>
      </a>
    </div>
  </div>

{% endmacro %} 

{% macro storage_layer_label(equipment) %}

<div class="row equipment">
  {% if equipment['dimension']['rows']['count'] > 1 and
  equipment['dimension']['columns']['count'] %}
  <div class="col-8 d-flex">
    {{ equipment['name']}} ( {{equipment['dimension']['rows']['count'] }} X {{
    equipment['dimension']['columns']['count'] }} )
  </div>
  {% else %}
  <div class="col-8 d-flex">{{ equipment['name']}}</div>
  {% endif %}
</div>

{% endmacro %} 
{% macro select_storage(unlock_items) %} 
{% set rows=unlock_items['rows'] %} 
{% set columns = unlock_items['columns'] %}

<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Select the first position
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <table  style="width:100%">
          {# First row are labels#}
          <tr>
            {% for column in range (columns+1) %}
              {% if column == 0 %}
                <td></td>
              {% else %}
                <td class="center-alignment">{{ column }}</td>
              {% endif %}  
            {% endfor %}
          </tr>

        {# Start with making the container matrix #}
        {% for row in range (1, rows +1) %}
        <tr>
          {% for column in range (columns+1) %}
            {% if column == 0 %}
              <td>{{row}}</td>
            {% else %}
              {% set active_element = ((row - 1) * columns) + column %}
              {% if unlock_items['currentSamples'][active_element] == 'Occupied' %}              
                <td class="occupied_container" id="box_{{active_element}}">
                  <i class="fa fa-circle fa-alert" aria-hidden="true"></i>
                </td>
              {% elif  unlock_items['currentSamples'][active_element] == 'Available' %}
                <td class="available_container" id="box_{{active_element}}">
                  <input type="checkbox" id="container_{{active_element}}" name="sequence" value="sequence" onclick="setSequence({{active_element}})">
                </td>
              {% elif  unlock_items['currentSamples'][active_element] == 'Reserved' %}
                <td class="reserved_container" id="box_{{active_element}}">
                  <i class="fa-regular fa-square" aria-hidden="true"></i>
                </td>
              {% endif %}  
            {% endif %}  
          {% endfor %}
        </tr>
        {% endfor%}
        </table>
        <p></p>
        <div>Legend:</div>
        <div>
          <i class="fa-regular fa-square" aria-hidden="true"></i>
          Free position</div>
        <div> 
          <i class="fa fa-circle fa-alert" style="color:red" aria-hidden="true"></i>
          Occupied position</div>
        <div>
          <i class="fa-regular fa-square" style="color:orange" aria-hidden="true"></i>
          First position cannot be positioned here</div>

      </div>
      <div class="modal-footer">
        <button id="cancelSequenceButton" type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button id="saveSequenceButton" type="button" class="btn btn-primary" onClick="moveSamplesToStorage()" disabled>Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endmacro %}
