{# General Error Show Routine #}

{# POST #}
{% if message %}
    {%if message.status == 'Info' %}        
    <div class="alert alert-info alert-dismissible fade show" role="alert">{{message.message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>  
    </div>
    {% elif message.status == 'Error' %}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">{{message.message}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>  
    </div>    
    {% elif message.status == 'Warning' %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">{{message.message}}
        <button type="button" class="close" data-dismiss="alert"  aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>  
    </div>    
    {% endif %}
{% endif %}

{# GET #}
{% if request.args.get('message') %} 
    <div class="alert alert-info alert-dismissible fade show" role="alert">{{request.args.get('message')}}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
        </button>  
    </div>
{% endif %}

